<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.diplinkblaze.spacednote">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity android:name=".type.TypeAveActivity" />
        <activity android:name=".type.TypeElementAveActivity" />
        <activity
            android:name=".type.TypeElementsActivity"
            android:label="@string/title_activity_type_elements"
            android:theme="@style/AppTheme" />
        <activity android:name=".schedule.ScheduleAveActivity" />
        <activity
            android:name=".schedule.ScheduleOccurrenceActivity"
            android:label="@string/title_activity_schedule_occurrenece"
            android:theme="@style/AppTheme" />
        <activity android:name=".schedule.ScheduleOccurrenceAveActivity" />
        <activity android:name=".labels.LabelAveActivity" />
        <activity android:name=".labels.LabelListAveActivity" />
        <activity android:name=".labels.LabelChooserActivity" />
        <activity android:name=".note.NoteViewActivity" />
        <activity
            android:name=".note.NoteEditActivity"
            android:label="@string/title_activity_note_edit"
            android:theme="@style/AppTheme" />
        <activity android:name=".profile.ProfileAveActivity" />
        <activity
            android:name=".main.LauncherActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.SyncActivity" />

        <!--
Service handling Google Sign-In user revocation. For apps that do not integrate with
            Google Sign-In, this service will never be started.
        -->
        <service
            android:name="com.google.android.gms.auth.api.signin.RevocationBoundService"
            android:exported="true"
            android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION" />

        <activity
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Dropbox AuthActivity -->
        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask">
            <intent-filter>
                <data android:scheme="db-4y76xyq70frs0yf" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".main.PortActivity" />
        <activity android:name=".revision.RevisionPastListActivity" />
        <activity android:name=".note.NoteListActivity" />

        <service
            android:name=".main.SyncService"
            android:exported="false" />
        <service
            android:name=".note.NoteToPdfService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>